<div class="container">
  <h3><%= @warehouse.name %> in <%= @warehouse.location %>:</h3>

  <hr>
    <ul>
      <li><%= link_to "Go to all Warehoues", warehouses_path %></li>
      <li><%= link_to "Edit this Warehouse", edit_warehouse_path(@warehouse) %></li>
      <li><%= link_to "Delete this Warehouse", warehouse_path(@warehouse), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></li>
    </ul>
  <hr>
</div>
